body {
  box-sizing: border-box;
  background-color: #f9f7fe;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 140px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #272044;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 30px;
}

a {
  color: #885df1;
}

form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(65, 50, 100, 0.08);
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.topic-input {
  padding: 12px 24px;
  color: #272044;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
  width: 80%;
  font-size: 16px;
}

.submit-btn {
  background-color: #885df1;
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 16px;
}

.poem {
  background-color: white;
  padding: 30px;
  border-left: 3px solid #885df1;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 20px 60px rgba(65, 50, 100, 0.08);
  font-size: 16px;
  line-height: 2.5;
}

footer {
  text-align: center;
}
