* {
  box-sizing: border-box;
}

body {
  background-color: #f9f7fe;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 140px auto;
  max-width: 600px;
  padding: 0 24px;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #272044;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 30px;
}

a {
  color: #885df1;
}

form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(65, 50, 100, 0.08);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 30px;
}

.topic-container {
  flex: 1 1 auto;
}

.topic-input {
  padding: 12px 24px;
  color: #272044;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
  font-size: 16px;
  outline-width: 1px;
  outline-color: #272044;
  margin-bottom: 6px;
  width: 100%;
}

.hint {
  margin-left: 20px;
  font-size: 12px;
  color: rgba(39, 33, 66, 0.5);
}

.submit-btn {
  background-color: #885df1;
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  border: none;
}

.poem {
  background-color: white;
  padding: 30px;
  border-left: 3px solid #885df1;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 20px 60px rgba(65, 50, 100, 0.08);
  font-size: 16px;
  line-height: 2.5;
}

.poem strong {
  color: #885df1;
}

footer {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.hidden {
  display: none;
}

.blink {
  animation: blink 1.8s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 0.4;
  }
}

@media screen and (max-width: 420px) {
  .container {
    margin: 80px auto;
  }

  form {
    flex-wrap: wrap;
  }

  .hint {
    margin-left: 0;
    text-align: center;
  }

  .poem {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
  }
}
